version: "3.9"

services:
  db:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_USER: investedu
      POSTGRES_PASSWORD: investedu
      POSTGRES_DB: investedu
    ports:
      - "5432:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data

  api:
    build: .
    command: sh -c "npm run prisma:generate && npm run dev"
    ports:
      - "3333:3333"
    env_file:
      - .env
    volumes:
      - ./:/usr/src/app
      - uploads:/usr/src/app/uploads
    depends_on:
      - db

volumes:
  dbdata:
  uploads:
